.pin-card {
  background: #141c20;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 28px;
  min-width: 340px;
  width: 30vw;
  min-height: fit-content;
  height: 44vh;
  color: #e6f2f3;
  box-shadow: 0 0 0 1px rgba(80, 220, 220, 0.25);
  padding-bottom: 10vh;}

.pin-card h2 {
  font-size: 18px;
  margin-bottom: 6px;
}

.pin-card .sub {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 18px;
}

.primary {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #3ad7c7, #49e2d8);
  color: #062a2a;
  font-weight: 600;
  cursor: pointer;
  margin-top: auto;
}
.input--pin{
    align-self: center;
    letter-spacing: 15px;
    margin-top: auto;
    margin-bottom: auto;

}
