.hero {
  background-color: #0f1720;
  color: white;
  padding: 100px 20px;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

/* Left */
.hero-left{
    display: flex;
    flex-direction: column;
}
.hero-left h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 1px;
}

.hero-left h1 span {
  color: #2dd4bf;
}

.hero-left p {
  color: #9ca3af;
  max-width: 420px;
  padding-top: 2px;
}
.upload-btn {
  margin-top: 30px;
  padding: 15px 31px;
  background: #2dd4bf;
  color: black;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
    transition: all 0.2s ease;
}

.upload-btn:hover {
  background: #22c1ae;
  transform: translateY(-1.5px);
   box-shadow: 0 0 28px rgba(50, 224, 232, 0.35);
}
.upload-btn:active {
  transform: translateY(0);
   box-shadow: 0 0 28px rgba(50, 224, 232, 0.55);
}


.file-types {
  margin-top: 20px;
  display: flex;
  align-self: center;
  gap: 16px;
  color: #6b7280;
  font-size: 14px;
}

/* Right */
.pin-card {
  background: #151f2b;
  border: 2px dashed rgba(45, 212, 191, 0.4);
  border-radius: 20px;
  padding: 50px;
  text-align: center;
}

.drag-text {
  color: #9ca3af;
}

.pin-code {
  margin: 20px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #2dd4bf;
}

.expiry {
  font-size: 14px;
  color: #6b7280;
}

.copy-btn {
  margin-top: 20px;
  background: none;
  border: none;
  color: #2dd4bf;
  cursor: pointer;
}

.copy-btn:hover {
  color: #22c1ae;
}

/* Responsive */
@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
